* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Critical for keeping widths accurate */
  }

body {
	overflow-x: hidden; /* This is the ultimate safety net */
	width: 100%;
}

/* BOOK NOW */
.bookNowTitle{
    color: aliceblue;
    display:flex;
    justify-content: flex-start;
    font-size: 25px;
    font-family: 'Acumin';
}

/* MAIN CONTAINER */
.containerBookNow{
    min-height:100vh;
	background: url(../images/Resources/PageResources/resourceBookNow/servicePatternedBG.png) no-repeat center center;		
    background: cover;
    background-size: cover;
    color: aliceblue;
}

/* FORM CONTAINER */
.containerForm{
    display: flex;
    justify-content: center;
    font-family: 'Acumin';
}

/* LEFT SIDE */
.leftContainer {

    margin:20px;
    font-size: 23px;

    input {
        min-width:400px;
        min-height:40px;
        display: flex;
        justify-content: left;
    }

    .pageTitle {
        color: white;
    }

}
/* RIGHT SIDE */
.rightContainer {
    margin:20px;
    font-size: 23px;
    input {
        min-width:200px;
        min-height:40px;
        display: flex;
        justify-content: right;
    }
    /* BUTTON */
    button {
        background-color: #171717;
        color:#D3AF37;
        font-family: 'Acumin';
        font-size: 10px;
        margin-top: 7px;
        margin-left: 7px;
        height: 30px;
        width: 100px;
        float:right;
    }

    /* TEXT AREA */
    textarea{
        padding: 10px;
    }
}

.messageBox{
    text-align: center;
    font-size: 20px;
    background-color: #D3AF37;
    color: #171717;
    margin:10%
}