* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Critical for keeping widths accurate */
  }

@font-face {
	font-family: 'Acumin';
	src: url('../fonts/Acumin-RPro.otf');
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: 'Acumin';
	src: url('../fonts/Acumin-BdPro.otf');
	font-style: normal;
	font-weight: bold;
}

/* HEADER BANNER */
#imgContainer {
    width: 10rem;

    img {
        width: 100%;
        height: auto;
    }
}

@media (width >= 640px) {
    #imgContainer {
      width: 12rem;
    }   
  }

  @media (width >= 768px) {
    #imgContainer {
      width: 14rem;
    }
  }

.headerBanner, .headerBannerBlack {
    position: sticky;
    top: 0;
    padding: 0;
    margin: 0;
    z-index: 1000;
    font-family: 'Acumin';
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-inline: 2rem;
    padding-block: 0.5rem;
    box-sizing: border-box;
}

@media (width >= 48rem) {
    .headerContent {
        max-width: 90rem;
    }
}

body {
	overflow-x: hidden; /* This is the ultimate safety net */
	width: 100%;
}

.headerMenu {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;


    a {
        text-align: center;
        font-size: 1.3rem;
        padding-inline: 1rem;
        padding-block: 0.75rem;
        border-radius: 10px;
    }       
}

/* BURGER BUTTON */
#burgerBtn {
    display: block;
    cursor: pointer;

        & div {
            width: 30px;
            height: 4px;
            background-color: black;
            margin: 6px 0;
        }
}

.side-pane {
    background-color: white;
    border: 5px solid black;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    right: 0;
    top: 0;
    height: 100vh;
    width: clamp(9rem, 6.9rem + 12.6vw, 15rem);
}

.side-pane.active {
    display: flex;
}

@media (width >= 80rem){

    .headerMenu {
        display: flex;
    }

    #burgerBtn {
        display: none;
    }

    .side-pane {
        display: none;
    }

    .side-pane.active {
        display: none;
    }
}



.dividers {
    width: 100%;
    height: 100%;

    hr {
        margin: 0;
        height: 10px;
    }
}



/* BLACK VERSION */
.headerBannerBlack {
    background-color: #171717;

    .headerMenu{
        a {
            color:white;
        }
    }
}

/* HYPERLINK SETTINGS */
a:link, a:visited {
    text-decoration: none;
    color: #171717;
}

.bannerOption:hover, .bannerOption:active, .bannerOption.active {
    text-shadow: #171717;
    background: #D3AF37;
    color: rgb(0, 0, 0);
}

html, body, .sectionFooter, i, b, p {
    margin: 0;
    padding: 0;
}
