/* 
ORDER OF CONTENTS: 
I. Products Section with Button
	.productContainer, .products
II. Services Section with Button
	.logoAndButton
III. Reviews 
    .ourReviews,.reviewsContainer, img.imgPortrait
IV. Branches and Book Now Button
    .ourBranches, .bookNow
V. Contacts 
    .ourContacts, .start
VI. Socials 
    .ourSocials
VII. Footer  
    .sectionFooter
VII. Other stuff
    - Page Titles (H1/H2)
    - Horizontal Line Divider
    - Hyperlink settings
	- sectionBody class (used by other branches)

Note: Slideshow's .css is in "slideshowStyle.css"
*/

@font-face {
	font-family: 'Parisienne';
	src: url('../fonts/Parisienne-Regular.woff2'),
		 url('../fonts/Parisienne-Regular.woff');
	font-weight: normal;
	font-style: normal;
}

body {
	overflow-x: hidden; /* This is the ultimate safety net */
	width: 100%;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /* Critical for keeping widths accurate */
  }


/* I. PRODUCTS SECTION WITH BUTTON */

.productsBanner {
	color: aliceblue;
	background: url(../images/Resources/PageResources/resourceContactUs/headerPatternedBG.png) no-repeat center center;
	background-size: cover;
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
}

.productsContent {
	margin-block: clamp(1rem, 4vw, 3rem);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1rem;


	& h1 {
		margin: 0;
		font-family: 'Acumin', sans-serif;
		font-weight: bold;
		font-size: clamp(1.75rem, 4vw, 3.25rem);
		color:#D3AF37;
	}

	& p {
		font-size: clamp(0.8rem, 2vw, 1.5rem);
	}

}

.products {
	margin-block: 1.5rem;

	.productsButton {
		display: flex;
		justify-content: center;

		a {
			display: flex;
			justify-content: center;
		}

		img {
			height: auto; 
			display: block;
			width: clamp(120px, 15vw, 175px); 
		}
	}

	.swiper-slide {
		img{
			width:90%;
			height: auto;
		}
	}
}

.swiper4 {
	--swiper-pagination-color: #D3AF37;
	--swiper-pagination-bullet-size: 10px;
	--swiper-pagination-bullet-width: 10px;
	--swiper-pagination-bullet-height: 10px;
	--swiper-pagination-bullet-inactive-color: #171717;
	--swiper-pagination-bullet-inactive-opacity: 1;
	--swiper-pagination-bullet-opacity: 1;
	--swiper-pagination-bullet-horizontal-gap: 4px;
	--swiper-pagination-bullet-vertical-gap:  6px;
	--swiper-navigation-color: #17171700;
  }

.swiper4 .swiper-pagination {
	position: absolute; 
	bottom: 10px;
	left: -16%;
	z-index: 1; 
}

.swiper4 {
	width: 100%; 
	height: 100%;
	position: relative; 
	left: 0;
	top: 0;
	z-index: 1;
	overflow:hidden;  
	display: flex;
	justify-content: center;
	align-items: center;

	.swiper-slide {
		display: flex;
		justify-content: center;
	}
}

.button-ghost-div2{
	pointer-events: none;
	z-index: 10;
	position: absolute;
	width: 100%;
	display: flex;
	justify-content: center;

	& .swiper-buttons2 {
		width: 100%;
		display: flex;
		justify-content: space-between;
		margin-inline: clamp(1rem, 4vw, 3rem);

		img {
			max-width: 11%; 
			height: auto; 
			display: block; 
		  }
	
		  @media (width >= 64rem) {
			img {
				max-width: 100%; 
				height: auto; 
				display: block; 
			}
		  }
	}

	& .swiper-button-next4 {
		cursor: pointer;
		pointer-events: all;
	}
	
	& .swiper-button-prev4 {
		cursor: pointer;
		pointer-events: all;
	}
}

/* II. SERVICES SECTION WITH BUTTON */
.services {
	position: relative;

	background-image: url(../images/Resources/PageResources/resourceHome/branchPhoto.png);
	background-color: #171717;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	
    width: 100%;
	aspect-ratio: 1 / 1;

	@media (width >= 40rem) {
		aspect-ratio: 4/3;
	}

	@media (width >= 48rem) {
		aspect-ratio: 16/9;
	}
	
	@media (width >= 64rem) {
		aspect-ratio: 3/1;
	}
}

.services-overlay {
	background-image: url(../images/Resources/PageResources/resourceServices/servicesBackground.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	position: absolute;
	width: 100%;
	height: 100%;

	gap: 1rem;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	@media (width >= 64rem) {
		right: 0;
		width: 40%;
	}

	h2 {
		color: white;
	}

	img {
		height: auto; 
		width: clamp(120px, 15vw, 175px); 
	}
}



/* III. REVIEWS */
.ourReviews {
	background: url(../images/Resources/PageResources/resourceHome/ArcaneBG.png) no-repeat center center fixed;
	background-size: cover;
	padding-block: 3rem;
	padding-inline: 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	& h1 {
		margin: 0;
		margin-bottom: 1rem;		
	}
}

.reviews-container {
	padding: 2.5rem;
	display: grid;
	justify-items: center;
	align-items: center;
	grid-template-columns: repeat(1, 1fr);
	width: 100%;
	max-width: 1500px;
	

	& h2 {
		font-size: clamp(1.2rem, 2vw, 1.5rem);
	}

	& p {
		font-size: clamp(0.9rem, 2vw, 1rem);
	}

	@media (width >= 100rem) {
		border: 2px solid black;
		box-shadow: 5px 10px #888888;
		background-color: white;

	}

	@media (width >= 48rem) {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, 1fr);
	}
}

.review-item {
	display: grid;
	justify-items: center;
	align-items: center;

	& .review-information {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		padding-inline: 2rem;
		gap: 1rem;

		@media (width >= 48rem) {
			align-items: center;
		}
	}

	@media (width >= 48rem) {
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

}

.review-person {
	& .reviews-image-container {
		border-radius: 50%;
		width: clamp(7rem, 15vw, 14rem);
		height: clamp(7rem, 15vw, 14rem);
		overflow: hidden;
	}

	& .img-portrait {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

/* IV. BRANCHES SECTION AND BOOKNOW BUTTON*/
.ourBranches {
	min-height: 40vh;
	background: url(../images/Resources/PageResources/resourceHome/branchesBackground1.png) no-repeat center center;
	background: cover;
	background-size: cover;
	text-align: center;
	background-position: left;

	display: flex;
	justify-content: center;
	color: aliceblue;
	border-top: 10px solid #171717; 
    border-bottom: 10px solid #171717; 
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.648);

	& .bookNow{
		margin-top: 50%;
		margin-bottom: 8%;
		background: rgba(20, 20, 20, 0.7);
		width: 100%;
        border: 1px solid (255,255,255,0.5);
	}

	& img {
		height: auto; 
		width: clamp(15rem, 10vw, 25rem);
	}

	@media (width >= 48rem) {
		min-height: 80vh;
	}
}

/* V. CONTACT US */
.ourContacts {
	min-height: 30vh;
    margin:0px;
    padding:0px;
	display:flex;
	color: aliceblue;
	background: url(../images/Resources/PageResources/resourceContactUs/headerPatternedBG.png) no-repeat center center;
	background-size: cover;
    flex-direction: column;
	justify-content: center;
	text-align: center;

	h1 {
		margin-top: 1rem;
		margin-bottom: 0;
		font-family: 'Acumin', sans-serif;
		font-weight: bold;
		font-size: clamp(1.75rem, 3vw, 3.25rem)
	}

    /* NOT ACTUAL SETTINGS, JUST FORMATTING AND MARGINS */
    .start {
		text-align:center;
		margin-top: 30px;
		margin-bottom:0px;
		padding:0px;
	}
	img {
		padding-bottom: 20px;
	}

	.verticalLine{
		border-left: 2px solid white;
		position:absolute;
		height: 6%;
	}
}

.contactNumbers{
	display:flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 6vh;

	.landline{
		display: flex;
		align-items: center;
		flex-direction: row;
		justify-content: flex-start;
	}

	.phone{
		display: flex;
		align-items: center;
	}

	p {
		padding-left: 3vh;
	}
}

/* VI. SOCIALS */
.ourSocials {
	background: url(../images/Resources/PageResources/resourceHome/ArcaneBG.png) no-repeat center center fixed;
	background-size: cover;
	text-align: center;
	padding-block: 2rem;

	display:flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

    .socialImages {
		width: 100%;
		display: flex;
		flex-direction: row;
		justify-content: center;
		margin-top: 1rem;
		gap: 1rem;

		img{
			width: 25%;
			height:auto;
			border: 2px solid #776430;
		}
	}

	h1, p { /* NOT ACTUAL SETTINGS, JUST FORMATTING AND MARGINS */
		margin: 0px;
		padding:0px;
	}	
}

.socialLinks{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	gap: 2rem;

	& img {
		width: 3rem;
		height: 3rem;
	}

	& h2 {
		font-size: clamp(1rem, 2vw, 1.75rem);
	}

	.facebook {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;

	}

	.instagram {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
	}
}

/* VII. FOOTER */
.sectionFooter { 
	background-color: #D3AF37;	
	background-size: cover;	
	text-align: right;
	text-decoration: solid;
	margin: 0px;
	padding: 0px;

	img{
		padding-right: 20px;
		margin-bottom: 0;
		max-height: 60px;
		width: auto;
	}

	p {
		padding-right: 20px;
		margin-top: 2px;
		font-size: larger;
	}
}

/* VIII. PAGE TITLES, HORIZONTAL LINE DIVIDER */

/* H1 AND H2 PAGE TITLES */

h1.pageTitle, h2.pageTitle {
	color: #171717;
	text-align: center;
	font-family: 'Acumin-BdPro', sans-serif;
	font-weight: bold;
	margin-block: 1rem;
	
}

h1.pageTitleReviews {
	color: #171717;
	text-align: center;
	font-family: 'Acumin-BdPro', sans-serif;
	font-weight: bold;
	font-style: italic;
	font-size: clamp(1.75rem, 3vw, 3.25rem);
	
}

h3.pageTitle {
	color: #ffffff;
	text-align: center;
	font-family: 'Acumin-ItPro', sans-serif;
	font-weight: normal;
	font-style: italic;
}

h1.pageTitle{
    font-size: clamp(1.5rem, 4vw, 3.25rem);
}

h2.pageTitle {
	font-size: 40px;
}

h3.pageTitle {
	font-size: clamp(25px, 2vw, 40px);
}

p {
	font-family: 'Acumin';
}

h1, h2 {
	font-weight: bold;
	font-family: 'Acumin';
	text-align:center;
}

h3 {
	color: #171717;
	font-weight: normal;
	font-size: 28px;
	font-family: 'Acumin-BdPro.otf', sans-serif;
	text-align:center;
}

/* HORIZONTAL LINE DIVIDER */
hr.divider, hr.divider2{
	width:100%;
	padding:0; 
    border:0;
    margin:0; 
}

hr.divider{
    height: 15px;
}

hr.divider2{
	height:5px; 
}

/* SECTION BODY*/
.sectionBody { 
	min-height:100vh;
	background: url(../images/Resources/PageResources/resourceHome/ArcaneBG.png) no-repeat center center fixed;				;
	background-size: cover;
}