body {
	overflow-x: hidden; /* This is the ultimate safety net */
	width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Critical for keeping widths accurate */
  }

.mainBody { 
	min-height:100vh;
	background: url(../images/Resources/PageResources/resourceHome/ArcaneBG.png) no-repeat center center fixed;				;
	background-size: cover;
    text-align: center;
  }

.servicesLink:hover, .servicesLink:active{
    text-decoration: underline;
}

.servicesLink:visited { 
	text-decoration: none; 
    color:black;
}

.menuSelected{
    margin: 0px;
    font-family: 'Acumin';
    font-weight: bold;
}

.menuUnselected{
    margin: 0px;
    font-family: 'Acumin';
}

.secondBanner {
	min-height: 20vh;
    margin:0px;
    padding:0px;
	display:flex;
	color: aliceblue;
	background: url(../images/Resources/PageResources/resourceServices/headerPatternedBG.png) no-repeat center center;		
	background-size: cover;
    flex-direction: column;
	justify-content: center;
	text-align: center;
    
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-family: 'Acumin', sans-serif;
		font-weight: bold;
		font-size: 50px;
	}
}

/* BODY */
.mainContainer {
    min-height:70vh; /* 100vh --> 70vh */
	background: url(../images/Resources/PageResources/resourceServices/servicePatternedBG.png) no-repeat center center fixed;		
    background: cover;
    background-size: cover;
    }

.content{
    min-height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    h1, h2 {
        font-family: 'Acumin', sans-serif;
        font-weight: bold;
        text-align: center;
        color: aliceblue;
		font-size: 50px;
    }
}

.mainFooter{
    min-height: 10vh;
    background:#D3AF37;
    background-size:cover;
}
