.mainBody { 
	min-height:100vh;
	background: url(../images/Resources/PageResources/resourceHome/ArcaneBG.png) no-repeat center center fixed;				;
	background-size: cover;
    text-align: center;
  }

  /*LINKS SETTINGS */
.servicesLink:hover, .servicesLink:active{
    text-decoration: underline;
}

.servicesLink:visited { 
	text-decoration: none; 
    color:black;
}

.menuSelected{
    margin: 0px;
    font-family: 'Acumin';
    font-weight: bold;
}

.menuUnselected{
    margin: 0px;
    font-family: 'Acumin';
}

/* SECOND BANNER */
.secondBanner {
	min-height: 20vh;
    margin:0px;
    padding:0px;
	display:flex;
	color: aliceblue;
	background: url(../images/Resources/PageResources/resourceServices/headerPatternedBG.png) no-repeat center center;		
	background-size: cover;
    flex-direction: column;
	justify-content: center;
	text-align: center;
	h1 {
		margin-top: 0;
		margin-bottom: 0;
		font-family: 'Acumin', sans-serif;
		font-weight: bold;
		font-size: 50px;
	}
}

.mainContainer {
	background: url(../images/Resources/PageResources/resourceServices/servicePatternedBG.png) no-repeat center center fixed;		
    background-size: cover;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .mainColumn{
        width: 25%;
        min-height: 100vh;
        height:auto;
        padding-left: 4%;
        padding-right: 4%;
        border: #D3AF37 solid;
        margin-top: 3%;
        margin-bottom: 3%;
        border-left: 0.5%;
        border-top: 0px;
        border-right: 0px;
        border-bottom: 0px;
        justify-content: center;
    }

    h3, p {
        font-family: 'Acumin';
        font-weight: 'normal';
        font-size: medium;
        margin:0px;
    }
    
    h1, h2 {
        font-family: 'Acumin';
        font-weight: bold;
        text-transform: uppercase;
        color:#D3AF37;
        padding: 0%;
        margin-top:2%;
        margin-bottom:3%;
    }
    
    h3 {
        text-transform: uppercase;
        color:#D3AF37;
    }
    
    p {
        span.price{
            color:#D3AF37;
        }
        span.service{
            color:aliceblue;
        }
        span.descriptorGold{
            font-size:12px; 
            color:#D3AF37;
        }
        span.descriptorWhite{
            font-size:12px; 
            color:aliceblue;
        }
    }
}

.menuBookNow{
    min-height:15vh;
	background: url(../images/Resources/PageResources/resourceServices/servicePatternedBG.png) no-repeat center center fixed;			;
	background-size: cover;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    p{
        margin:0px;
        font-size: 10px;
        text-align: left;
        font-family: 'Acumin';
        color:aliceblue;
    }

    div{
        width: 25%;
        padding-left: 4%;
        padding-right: 4%;
    }

    img.bookNowButton{
        width:100%;
        height:auto;
    }
}

.mainFooter{
    min-height: 10vh;
    background:#D3AF37;
    background-size:cover;
}
