body {
	overflow-x: hidden; /* This is the ultimate safety net */
	width: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Critical for keeping widths accurate */
  }

/* SLIDESHOW BACKROUND SETTINGS */
.headerPromos {
    background: url(../images/Resources/PageResources/resourceHome/ArcaneBG.png) no-repeat center center fixed;
    background-size: cover;
    justify-content: center;
    overflow: hidden;

    & h1 {
        font-size: clamp(1.5rem, 4vw, 3.25rem);
    }

    & h3 {
        font-size: clamp(1.5rem, 2vw, 1.5rem);
    }
}

.swiper-container {
    position: relative;
}

.swiper1 {
    background: url(../images/Resources/PageResources/resourceHome/ArcaneBG.png) no-repeat center center fixed;
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

.swiper-wrapper {
    margin-bottom: 3rem;
}

/* SLIDESHOW IMAGES SETTINGS */
.SlideshowImage {
    margin-left: 4%;
    width: 90%;
    height:auto;
    border: 4px solid #66541A;

}

/* PAGINATION SETTINGS */
.swiper1 {
    --swiper-pagination-color: #D3AF37;
    --swiper-pagination-bullet-size: 10px;
    --swiper-pagination-bullet-width: 10px;
    --swiper-pagination-bullet-height: 10px;
    --swiper-pagination-bullet-inactive-color: #171717;
    --swiper-pagination-bullet-inactive-opacity: 1;
    --swiper-pagination-bullet-opacity: 1;
    --swiper-pagination-bullet-horizontal-gap: 4px;
    --swiper-pagination-bullet-vertical-gap:  6px;
    --swiper-navigation-color: #17171700;
  }


/* ARROW BUTTONS SETTINGS */
.button-ghost-div {
    z-index: 10;
    position: absolute;
    pointer-events: none;
    display: flex;
    justify-content: center;
    width: 100%;

}

.swiper-buttons {
    pointer-events: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-inline: clamp(1rem, 4vw, 3rem);

    img {
        max-width: 11%; 
        height: auto; 
        display: block; 
      }

      @media (width >= 64rem) {
        img {
            max-width: 100%; 
            height: auto; 
            display: block; 
        }
      }


    & .swiper-button-prev1 {
        cursor: pointer;
        pointer-events: all;
    }

    & .swiper-button-next1 {
        cursor: pointer;
        pointer-events: all;
        
    }
    
}





